{% extends 'base.html' %}
{% load static %}

  <body>
    {% block content %}
    <section class="loginsection">
      <div class="imgBx">
        <img src="{% static 'images/handnew.png' %}" alt="">
      </div>
      <div class="contentBx">
        <div class="formBx">
          <h2>Forgot Password?</h2>
          <form action="" method="post">
            {% csrf_token %}
            <div class="inputBx">
              <span>Enter e-mail address to obtain a new password.</span>
              
            </div>
            <div class="inputBx">
              <span>Email:</span>
              <input type="text" name="Email" autocomplete="off">
            </div>
            <!-- <div class="remember">
              <label><input type="checkbox" name="">&nbsp;Remember me</label>
            </div> -->
            <div class="inputBx">
              <input type="submit" value="Send E-mail" name="forgot">
            </div>
            
            
          </form>
          <p style="color:#ff4584;">{{message}}</p>
        </div>
      </div>
    </section>

    
    
    {% endblock %}
  </body>
