{% extends 'airlines_base.html' %}
{% load static %}

<body>
  {% block content %}
  <!-- <img src="{% static 'images/latest3.png' %}" class="w-100" alt="..."> -->
  <section class="search_result_detail_section" style="padding-top:8%;">
    <h2>View Flight Detail</h2>
    
    <table class="table">
        <thead>
            <th>Attribute</th>
            <th>Values</th>
           
        </thead>
        <tbody>
            <tr>
                <td data-label="Attribute">Airline Name</td>
                <td data-label="Values">{{fl.airline_name}}</td>
            </tr>
            <tr>
                <td data-label="Attribute">Flight Number</td>
                <td data-label="Values">{{fl.flight_no}}</td>
            </tr>
            <tr>
                <td data-label="Attribute">Departure Country/City</td>
                <td data-label="Values">{{fl.departure_city}}</td>
            </tr>
            <tr>
                <td data-label="Attribute">Arrival Country/City</td>
                <td data-label="Values">{{fl.arrival_city}}</td>
            </tr>
            <tr>
                <td data-label="Attribute">Departure Date/Time</td>
                <td data-label="Values">{{fl.departure_datetime}}</td>
            </tr>
            <tr>
                <td data-label="Attribute">Arrival Date/Time</td>
                <td data-label="Values">{{fl.arrival_datetime}}</td>
            </tr>
            <tr>
                <td data-label="Attribute">Total Seats</td>
                <td data-label="Values">{{fl.no_of_seats}}</td>
            </tr>
            
            <tr>
                <td data-label="Attribute">Fare</td>
                <td data-label="Values">{{fl.price}}</td>
            </tr>
            <tr>
                <td data-label="Attribute">Image</td>
                <td data-label="Values"><img src="{{fl.image.url}}" alt="" width="40px;"></td>
            </tr>
            <tr>
                <td colspan="2" class="button_row"><a href="{% url 'okbutton' %}" style="margin-left:80%;"><button style="width:10%;">OK</button></a></td>
            </tr>
            
            

        </tbody>
    </table>
    
    </section>
    <section class="photo_gallery">

        <div class="container">
          <div class="row">
            <!-- <h2 style="border-bottom: 2px solid #ff4584;margin-bottom: 5%;">Popular Destinations</h2> -->
            <h2>Photo Gallery</h2>
            {% for i in im %}
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="card" style="border:none;">
                <img src="{{i.image.url}}" class="card-img-top img-fluid" alt="..." style="width:500px;height:200px;">
                <div class="card-body">
                  <!-- <h5 class="card-title" style="text-align:center;color:#607d8b;">England</h5> -->
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            {% endfor %}
          
          
            
            
         
            
            
            
           
          </div>
        </div>
    </section>
  {% endblock %}

</body>

  