{% extends 'admin_base.html' %}
{% load static %}

<body>
  {% block content %}
  <!-- <img src="{% static 'images/latest3.png' %}" class="w-100" alt="..."> -->
  <section class="viewfeedback_section" style="padding-top:8%;">
    <h2>View Feedback</h2>
    <table class="table">
        <thead>
            <th>Username</th>
            <th>Email Id</th>
            <th>Feedback Date</th>
            <th>Feedback Message</th>
            

        </thead>
        <tbody>
          {% for f in fd %}
            <tr>
                <td data-label="Username">{{f.name}}</td>
                <td data-label="Email Id">{{f.email}}</td>
                <td data-label="Feedback Date">{{f.date}}</td>
                <td data-label="Feedback Message">{{f.message}}</td>
            </tr>
           {% endfor %}
           

        </tbody>
    </table>
    
    </section>
  {% endblock %}

</body>

  